<td class='code'>{{name}}</td>
<td>
    {{#if defaultValue}}
		<textarea class='body-textarea' name='{{name}}'>{{defaultValue}}</textarea>
	{{else}}
		<textarea class='body-textarea' name='{{name}}'></textarea>
	{{/if}}
</td>
<td>
    {{{description}}}
</td>
<td>

</td>